#select-activities, #select-activities-label, #activity-details, #confirmation-message, #e-ticket-form{
    visibility: hidden;
}

body, html {
    height: 100%;
}

#hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/adventure-tourism.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-text {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 10px;
}

.navbar, .navbar-expand-lg {
    backdrop-filter: blur(10px);
    background-color: rgba(190, 225, 247, 0.416);
    overflow: hidden;
}

main{
    margin: 70px 60px;
}

.card{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    border: 0;
}